<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tela Inicial</title>
  {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
  {% load static%}
  <link rel="stylesheet" href="{% static 'hermes/style.css' %}">
</head>
<body>
  <!-- Logo -->
  <div class="logo">
    {% comment %} <img src="./img/Logo.png" alt="Logo"> {% endcomment %}
    <img src="{% static 'hermes/img/Logo.png' %}" alt="Logo">
  </div>

  <!-- Caixa de login -->
  <div class="login-box">
    <h2>Acessar o Sistema</h2>
    <form>
      <input type="text" placeholder="Usuário" required aria-label="Usuário">
      <input type="password" placeholder="Senha" required aria-label="Senha">
      <button type="submit">Acessar</button>
    </form>
    <a href="#">Esqueceu a senha?</a>
  </div>
</body>
</html>
